body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.positiveValue {
  color: green;
}

.negativeValue {
  color:red;
}

.tRows:hover{
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/*------------MODAL STYLE----------------*/
.modal {
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  background: white;
  height: 80%;
}
.priceChange p{
  margin-bottom: 0.25rem;
}
.modalWebsite {
  max-height: 50%
}
.modalWebsite p {
  padding:0;
}
.modalDesc {
  max-height:50%;
  overflow: auto;
  text-overflow: clip;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}